.main-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e188;
}
.prof {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .prof-text {
    display: flex;
    align-items: center;
    color: #e1e1e188;
    cursor: pointer;
    gap: 5px;
    font-size: 13px;
    .userName {
      font-size: 15px;
      color: white;
      font-weight: bold;
    }
    .prof-pic {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    button {
      font-size: 12px;
      color: #0099ff;
      font-weight: 700;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border: none;
    background: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
  }
}

.image {
  .post-pic {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e1e1e188;
  }
}

.actions-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .like-comment {
    display: flex;
    gap: 5px;

    .icons {
      cursor: pointer;
    }

    .like-icon.colored {
      color: red;
    }
  }
}

.likes {
  font-size: 12px;
  font-weight: 800;
}

.comment {
  font-size: 12px;
  font-weight: 200;
}

.comments {
  font-size: 12px;
  color: #e1e1e188;
  cursor: pointer;
}

label {
  position: relative;
  input {
    background: none;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
  }

  button {
    background: none;
    border: none;
    outline: none;
    color: #0099ff;
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
  }
}
